<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>down.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{132,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,135}}</string>
                <key>sourceSize</key>
                <string>{132,135}</string>
            </dict>
            <key>health.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,139},{500,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,20}}</string>
                <key>sourceSize</key>
                <string>{500,20}</string>
            </dict>
            <key>left.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{132,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,135}}</string>
                <key>sourceSize</key>
                <string>{132,135}</string>
            </dict>
            <key>right.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{132,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,135}}</string>
                <key>sourceSize</key>
                <string>{132,135}</string>
            </dict>
            <key>topbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,150}}</string>
                <key>sourceSize</key>
                <string>{156,150}</string>
            </dict>
            <key>up.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{132,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,135}}</string>
                <key>sourceSize</key>
                <string>{132,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>textures.png</string>
            <key>size</key>
            <string>{690,161}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3bc0ce46f1ea0c29cd5f4d9a1bf1e7f9:73595f9b1e7ca89015663919c5a9effe:1abd9b1a32dd92fa37ae3f420f34f475$</string>
            <key>textureFileName</key>
            <string>textures.png</string>
        </dict>
    </dict>
</plist>
